
<div class="row">
  <div class="col-12">
    <h1>Lista de Libros Steel Software</h1>
  </div>
  <div class="row">
    <div class="col-md-3 col-12 my-auto">
      <input type="text" name="barraBusqueda" id="filterTitulo" placeholder="Titulo..." class="form-control" [(ngModel)]="filterTitulo" >
    </div>
    <div class="col-md-3 col-12 my-auto">
      <input type="text" name="barraBusqueda" id="filterEditorial" placeholder="Editorial..." class="form-control" [(ngModel)]="filterEditorial" >
    </div>
    <div class="col-md-3 col-12 my-auto">
      <input type="text" name="barraBusqueda" id="filterAutor" placeholder="Autor..." class="form-control" [(ngModel)]="filterAutor" >
    </div>
    <div class="col-md-3 col-12 my-auto">
      <input type="text" name="barraBusqueda" id="filterGenero" placeholder="Genero..." class="form-control" [(ngModel)]="filterGenero" >
    </div>
  </div>
</div>

<app-create></app-create>

<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-responsive">
        <thead class="table-dark" style="text-align: center" >
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Titulo</th>
          <th scope="col">Año</th>
          <th scope="col"># Paginas</th>
          <th scope="col">Editorial</th>
          <th scope="col">Autor</th>
          <th scope="col">Genero</th>
          <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of listBooks | filterTitulo: filterTitulo.toLowerCase() | filterAutor: filterAutor.toLowerCase() | filterEditorial: filterEditorial.toLowerCase() | filterGenero: filterGenero.toLowerCase()">
            <th style="text-align: center" scope="row">{{book.idLibro}}</th>
            <td>{{book.tituloLibro}}</td>
            <td style="text-align: center">{{book.a_oLibro}}</td>
            <td style="text-align: center">{{book.numPaginas}}</td>
            <td>{{book.nombreEditorial}}</td>
            <td>{{book.nombreAutor}}</td>
            <td>{{book.genero}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="redireccionar(book.idLibro)"><fa-icon [icon]="faEdit"></fa-icon></button>
              </div>
            </td>
          </tr>
          </tbody>
      </table>
</div>