<!-- Button trigger modal -->
<div class="my-2">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearLibroModal">
    <fa-icon [icon]="faPlus"></fa-icon> Registrar libro nuevo
  </button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="crearLibroModal" tabindex="-1" aria-labelledby="crearLibroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crearLibroModalLabel">Registrar Libro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
              <!--Formulario de registro, recibe un objeto del tipo Libro para el ngFor-->
            <div *ngFor="let input of inputsList" class="mb-1 form-floating">
                <input type=`{{input.type}}` id=`{{input.id}}` class="form-control" placeholder="{{input.placeholder}}" formControlName="{{input.id}}">
                <label for=`{{input.id}}`>{{input.text}}</label>
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-primary" value="Guardar">                
            </div>    
          </form>
          <!--Alertas para resultado de operacion-->
          <div class="alert alert-danger" *ngIf="errorStatus" role="alert">{{mensaje}}</div>
          <div class="alert alert-success" *ngIf="okStatus" role="alert">{{mensaje}}</div>
        </div>
        
      </div>
    </div>
  </div>
